{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>User Profile</h2>
<table class = "table">
    <tr>
        <th>Username</th>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
    </tr>
</table>
<hr>
<h4>Predictions by {{ user.username }}</h4>
<ul>
{% for prediction in predictions %}
    <li><a href="/user-prediction/{{ prediction.id }}">{{ prediction }}</a></li>
{% endfor %}
</ul>
<a href="/user-prediction"><button class="btn btn-primary">Make New Prediction</button></a>
{% endblock %}
